.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .image-section {
    margin: 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  

  .logo {
    height: 100px; /* Adjust as needed */
    margin-right: 15px;
  }